<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Green River LOC</title>
    <link rel="icon" href="/img/GRC_Logo_White.png">
    <!-- style sheet -->
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <!-- Dont touch it works, This grabs orders data from app.js to LOC.js -->
    <script>
      window.orders = <%- JSON.stringify(orders) %>;
    </script>

    <!-- Dont touch this either, it works, This grabs prefill data from the db and loads the form from under review -->
    <script>
      window.programData = <%- JSON.stringify(programData || null) %>;
    </script>


    <!-- Javascript link -->
    <script src="/js/LOC.js" defer></script>
    <!-- <script src="/js/Story.js" defer></scrip> -->
  </head>
  <body>
    <header>
      <div>
        <img rel="image" src="/img/GRC_Logo_White.png">
        <h1>Green River Document Modifier</h1>
      </div>
    </header>
    <form id="Loc-story" action="submit-order" method="post">
      <main class="layout">

        <!-- RIGHT SIDE: Controls panel -->
        <section id="controls">
          <div class="selectors">
            <div id="form-shell">

              <!-- Division Selector -->
              <label for="division">Division:</label>
              <select id="division" name="division">
                <option value="none">Select a Division</option>
                <option value="FineArt">Fine Arts</option>
                <option value="Humanities">Humanities</option>
                <option value="SocialScience">Social Science</option>
                <option value="English">English</option>
                <option value="Science">Science</option>
                <option value="Technology">Technology</option>
                <option value="HealthScience">Health Science</option>
                <option value="Trades">Trades</option>
              </select>
  
              <!-- division Name-->
              <div id="division-names" style="display: grid;">
                <!-- Dean -->
                <div class="dean">
                  <span id="err-Dean" class="error"> Dean cannot be empty!</span>
                  <label for="dean">Dean:<input type="text" id="dean" name="dean" /></label>
                </div>
                <!-- Academic Program -->
                <div class="program">
                  <label for="program">Academic Program:</label>
                  <select id="program" name="program">
                    <!-- Javascript -->
                  </select>
                </div>

                <!-- hidden ProgramID input -->
                <input type="hidden" id="ProgramID" name="ProgramID"/>

                <!-- Pen -->
                <div class="pen">
                  <span id="err-PEN" class="error"> PEN Contact cannot be empty!</span>
                  <label for="PEN">PEN Contact:<input type="text" id="PEN" name="pen" /></label>
                </div>
                <!-- LOC Rep -->
                <div class="rep">
                  <span id="err-Rep" class="error"> LOC Rep cannot be empty!</span>
                  <label for="Rep">LOC Rep:<input type="text" id="Rep" name="rep" /></label>
                </div>
                <!-- Chair -->
                <div class="chair">
                  <span id="err-Chair" class="error"> Chair cannot be empty!</span>
                  <label for="Chair">Chair:<input type="text" id="Chair" name="chair" /></label>
                </div>
                <!-- Payee(s) -->
                <div class="payee">
                  <span id="err-Payee" class="error"> Payee(s) cannot be empty!</span>
                  <label for="payee">Payee(s):<input type="text" id="payee" name="payees" /></label>
                </div>
                <!-- Has Been Paid (Yes/No) -->
                <div class="paid">
                  <span id="err-Paid" class="error"> paid option cannot be empty!</span>
                  <label for="paid">Has Been Paid (Yes/No):</label>
                  <select id="paid" name="paid">
                    <option value="none">Select an option</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
                </div>
                <!-- Report Submitted (Yes/No) -->
                <div class="report">
                  <span id="err-Report" class="error"> report option cannot be empty!</span>
                  <label for="report">Report Submitted (Yes/No):</label>
                  <select id="report" name="report">
                    <option value="none">Select an option</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
                </div>
                <!-- Under Review -->
                <div class="under-review">
                  <label for="underReview">Under Review:</label>
                    <input type="checkbox" id="underReview" name="underReview" />
                </div>
                <!-- Notes -->
                <div class="notes">
                  <span id="err-Notes" class="error"> Notes cannot be empty!</span>
                  <label for="notes">Notes:<textarea type="text" id="notes" name="notes"></textarea></label>
                </div>
              </div> 
            </div>

            <!-- Cancel and Save Buttons -->
          <div class="buttons">
            <button type="button" id="cancel-button">Cancel</button>
            <button type="submit" id="save-button">Save</button>
          </div>

          <!-- View Summary Link -->
           <div class="view-summary">
            <a href="/" id="view-summary-link">
              View Summary
            </a>
           </div>

        </section>        
      </main>
    </form>
  </body>
</html>
