<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Green River Document Modifier</title>
    <link rel="stylesheet" href="/styles/styles.css" />
    <script src="/js/LOC.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Green River Document Modifier</h1>
    </header>

    <main class="layout">
      <!-- LEFT SIDE: File display area -->
      <section id="file-display">
        <h2>Year</h2>
        <div class="file-area">file display goes here</div>
      </section>

      <!-- RIGHT SIDE: Controls panel -->
      <aside id="controls">
        <div class="selectors">
          <label for="division">Division:</label>
          <select id="division" name="division">
            <option value="none">Select a Division</option>
            <option value="FineArt">Fine Arts</option>
            <option value="Humanities">Humanities</option>
            <option value="SocialScience">Social Science</option>
            <option value="English">English</option>
            <option value="Science">Science</option>
            <option value="Technology">Technology</option>
            <option value="HealthScience">Health Science</option>
            <option value="Trades">Trades</option>
          </select>

          <label for="position">Position:</label>
          <select id="position" name="position">
            <option value="none">Select a Position</option>
            <option value="Dean">Dean</option>
            <option value="PEN">PEN Contact</option>
            <option value="Rep">LOC Rep</option>
            <option value="Chair">Chair</option>
          </select>
        </div>

        <div id="name-fields">
          <label for="dean">Original Name:</label>
          <input
            type="text"
            id="original-name"
            name="originalName"
            placeholder="Original"
          />
          <span class="error" id="err-originalName">Dean cannot be empty!</span>

          <label for="PEN">New Name:</label>
          <input type="text" id="new-name" name="newName" placeholder="New" />
          <span class="error" id="err-newName"
            >PEN Contact cannot be empty!</span
          >
        </div>

        <div class="buttons">
          <button type="button" id="cancel-button">Cancel</button>
          <button type="button" id="save-button">Save</button>
        </div>

        <button type="button" id="export-button">Export</button>

        <div class="staff-information">
          <p id="staff-name">Staff Member Name:</p>
          <p id="staff-email">Staff Member Email:</p>
        </div>
      </aside>
    </main>
  </body>
</html>
